<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-link-heading" jhiTranslate="sociallinksApp.link.home.createOrEditLabel">Create or edit a Link</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!link.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="link.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.link.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="link.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.link.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="link.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.link.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="link.url" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.link.socialnetwork" for="field_socialnetwork">Socialnetwork</label>
                    <select class="form-control" id="field_socialnetwork" name="socialnetwork" [(ngModel)]="link.socialnetwork" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="socialnetworkOption.id === link.socialnetwork?.id ? link.socialnetwork : socialnetworkOption" *ngFor="let socialnetworkOption of socialnetworks; trackBy: trackSocialnetworkById">{{socialnetworkOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.link.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="link.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === link.user?.id ? link.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
