<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-socialnetwork-heading" jhiTranslate="sociallinksApp.socialnetwork.home.createOrEditLabel">Create or edit a Socialnetwork</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!socialnetwork.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="socialnetwork.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.socialnetwork.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="socialnetwork.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.socialnetwork.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="socialnetwork.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sociallinksApp.socialnetwork.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="socialnetwork.status" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
